<launch>
  <arg name="model" default="$(env HOME)/.ros/baxter.urdf.ros"/>
  <arg name="real_frame" default="base" />
  <arg name="virtual_frame" default="virtual/base" />
  <arg name="virtual_joint_states" default="virtual_joint_states" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find virtual_robot_ros)/rviz/baxter_urdf.rviz" />


  <arg name="_virtual_joint_states" value="$(arg virtual_joint_states)" if="$(arg gui)" />
  <arg name="_virtual_joint_states" value="/robot/joint_states" unless="$(arg gui)" /> <!-- mimic real robot -->

  <param name="virtual_robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_tf_publisher" args="0 0 0 0 0 0 1 $(arg real_frame) $(arg virtual_frame)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="virtual_robot_state_publisher" >
    <remap from="robot_description" to="virtual_robot_description" />
    <remap from="joint_states" to="$(arg _virtual_joint_states)" />
    <rosparam subst_value="true" >
      tf_prefix: virtual
    </rosparam>
  </node>
  <node name="virtual_robot_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" respawn="true" output="screen" if="$(arg gui)">
    <remap from="robot_description" to="/virtual_robot_description" />
    <remap from="joint_states" to="$(arg _virtual_joint_states)" />
  </node>

  <include file="$(find virtual_robot_ros)/launch/baxter_render.launch">
    <arg name="joint_states" value="$(arg _virtual_joint_states)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
