<launch>
  <arg name="input_image" default="/d435_head/color/image_rect_color"/>
  <arg name="camera_info" default="/d435_head/color/camera_info"/>

  <arg name="robot" default="baxter"/> <!-- pr2, baxter, fetch -->
  <arg name="real_frame" default="base" />
  <arg name="virtual_frame" default="virtual/base" />
  <arg name="real_joint_states" default="/robot/joint_states" />
  <arg name="virtual_joint_states" default="virtual_joint_states" />
  <arg name="gui" default="true" />

  <include file="$(find virtual_robot_ros)/launch/display.launch">
    <arg name="input_image" value="$(arg input_image)" />
    <arg name="camera_info" value="$(arg camera_info)" />

    <arg name="robot" value="$(arg robot)"/> <!-- pr2, baxter, fetch -->
    <arg name="real_frame" value="$(arg real_frame)" />
    <arg name="virtual_frame" value="$(arg virtual_frame)" />
    <arg name="real_joint_states" value="$(arg real_joint_states)" />
    <arg name="virtual_joint_states" value="$(arg virtual_joint_states)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

</launch>
